<%- include('header', {
  title: 'Profile',
  stylesheets: ['dashboard.css']
}) %>

<div class="container body-font">
  <h1 class="title-font text-capitalize">Profile</h1>

  <div class="box center-block">
    <div class="row">
      <div class="col-sm-4 col-md-5 gutter">
        <div class="btn-group" role="menu" aria-label="...">
          <a href="/dashboard" class="btn btn-primary">Dashboard</a>
          <a href="/login/logout" class="btn btn-primary">Logout</a>
        </div>
      </div>

      <div class="col-sm-8 col-md-7 gutter">
        <form action="/search" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="username" placeholder="Username">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <% if (user.username != profile.username) { %>
          <form action="" method="post">
            <input type="hidden" name="profile" value="<%= profile.username %>">

            <% if (follow) { %>
              <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-times"></i> Unfollow</button>
            <% } else { %>
              <button type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Follow</button>
            <% } %>
          </form>
        <% } %>

        <h2 class="title-font profile-name">@<%= profile.username %></h2>
        <p class="faded">Joined: <%= new Date(profile.joined).toLocaleDateString() %></p>
      </div>
    </div>

    <h3 class="title-font text-primary text-center gutter">
      @<%= profile.username %>'s Thoughts
      <a href="" class="paragraph"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    </h3>

    <div>
      <% if (posts.length == 0) { %>
        <p class="faded text-center">@<%= profile.username %> don't think that much...</p>
      <% } else {
        for (let post of posts) {%>
          <p><span class="title-font"><%= (post.author == user.username ? 'Me' : '@' + post.author) %></span> <small class="faded paragraph"><%= new Date(post.date).toLocaleString() %></small></p>
          <pre class="body-font gutter"><%= post.content %></pre>
      <%  }
      } %>
    </div>
  </div>
</div>

<%- include('footer') %>
