<%- include('header', {
  title: 'Sign Up',
  stylesheets: ['index.css']
}) %>

<div class="container body-font">
  <h1 class="title-font">My Thoughts</h1>

  <% if (success) { %>
    <h3 class="text-center">Account created successfully!</h3>
    <p class="text-center"><a href="/login" class="btn btn-primary">Sign In</a></p>

  <% } else { %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h2 class="title-font text-center">Sign Up</h2>

        <form action="/register" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control input-lg field" type="email" id="email" name="email" autocomplete="off" value="<%= data.email || '' %>">
          </div>

          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control input-lg field" type="text" id="username" name="username" autocomplete="off" value="<%= data.username || '' %>">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control input-lg field" type="password" id="password" name="password" autocomplete="off" value="<%= data.password || '' %>">
          </div>

          <div class="form-group">
            <label for="password-again">Confirm Password</label>
            <input class="form-control input-lg field" type="password" id="password-again" name="password-again" autocomplete="off" value="<%= data.passwordAgain || '' %>">
          </div>

          <% if (errors.length > 0) { %>
            <div class="well">
              <% for (let error of errors) { %>
                <p><strong><%= error %></strong></p>
              <% } %>
            </div>
          <% } %>

          <button type="submit" class="btn btn-primary btn-lg center-block">Submit</button>
        </form>
      </div>
    </div>
  <% } %>
</div>

<%- include('footer') %>
